<ng-container *ngIf="pokemon">
    <div class="bg py-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 offset-sm-2">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mt-2">
                                <h1>{{pokemon.name | titlecase}}</h1>
                                <b>Type:</b><span *ngFor="let type of pokemon.types"
                                    class="badge border rounded-pill me-1 bg-fire">
                                    {{type.type.name | titlecase}}
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <img src="https://pokeres.bastionbot.org/images/pokemon/{{pokemon.id}}.png" alt=""
                                class="img-fluid d-block mx-auto" style="width: 300px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-shape-divider-bottom">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path
                    d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                    class="shape-fill"></path>
            </svg>
        </div>
    </div>

    <div class="container my-3">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <div class="row">
                    <h2 class="card-title">Evolution</h2>
                    <div *ngFor="let evolution of pokemon.evolutions" class="col-sm mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title text-center mb-3">{{evolution.name | titlecase}}</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <h1 class="card-title">Abilities</h1>
                <div class="card mb-3">
                    <ul class="list-group list-group-flush">
                        <li *ngFor="let ability of pokemon.abilities" class="list-group-item">
                            {{ability.ability.name | titlecase}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</ng-container>